flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
# Node
node_modules/
npm-debug.log*

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Python / Django
__pycache__/
*.pyc
venv/
.env

# Android
android/.gradle/

# iOS
ios/Pods/